{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}Clinic{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- semantic UI -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% include 'head/css.html' %}
    <script src="{% static 'JS/main.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </head>
  <body>
    <div class="flex gap-3 mt-3">
      <h1 class="text-teal-600 text-3xl font-bold text-center p-5 flex-1">با پندار باخیال راحت نوبت بگیرید</h1>
      <div>
        <button class="border-[2px] solid border-teal-700 text-teal-600 shadow-xl text-2xl 
        py-1 px-2 rounded-xl transition-all duration-300 ease-in-out
        hover:bg-teal-700 hover:text-white">برنامه هفتگی پزشکان</button>
        <div class="flex">
          <input type="text">
          <button>پیگیری نوبت</button>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
