<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>All Doctors Schedule</title>
    <style type="text/css">
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: center;
        padding: 8px;
      }

      th {
        background-color: #ddd;
        font-weight: bold;
      }

      td {
        border: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>نام و نام خانوادگی</th>
          <th>تخصص</th>
          <th>شنبه</th>
          <th>یک‌شنبه</th>
          <th>دوشنبه</th>
          <th>سه‌شنبه</th>
          <th>چهارشنبه</th>
          <th>پنج‌شنبه</th>
          <th>جمعه</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          {% for cell in row %}
          <td>{{ cell|safe }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
